header {
  .header_top {
    background-color: #333333;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      .header_top_left {
        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: 20px;
      }

      .header_top_right {
        display: flex;
        align-items: center;
        justify-content: end;
        
        .header_top_right_elem {
          border-right: 1px solid #444444 ;
          display: flex;
          align-items: center;
          column-gap: 25px;
          margin-top: 10px;
          margin-bottom: 10px;
          padding-left: 22px;
          padding-right: 10px;

          div {
            text-align: center;
          }

          h5 {
            font-weight: lighter;
          }
        }
      }
    }
  }

  .header_center {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;

      .header_center_left {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 19px;
      }

      .header_center_right {
        justify-content: end;
        align-items: center;

        @include sp {
          display: none;
        }

        img {
          width: 180px;
          box-shadow: 3px 3px 5px #a3a3a3;
        }

        img:first-child {
          box-shadow: unset;
          width: 156px;
        }
      }
    }
  }

  .header_bottom {
    background: linear-gradient(to right, #D6D9D8, #CACAC8, #E7D7CB, #DFD4CB);
    .container {
      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}
